// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

header h1 a {
    color: $header-font-color;
}

nav[role="navigation"] {
    ul.button-group li {
        a {
            padding: 5px 10px;
            color: $subheader-font-color;
        }
        &:active, a:hover, a:focus {
            color: $header-font-color;
        }
    }
}

article.feedItem {
    header, footer {
        font-size: 0.8em;
    }
    footer {
        color: $subheader-font-color;
    }
}

footer[role="contentinfo"] p {
    font-size: 0.8em;
}

ul.pagination {
    li {
        a {
            font-size: 1.2em;
        }
    }
}

#infscr-loading {
    text-align: center;
}